#cal_plugin {
    text-align: center;
}
#cal_plugin .current {
    /*background: #42CA98;
    color: white;*/
    border: 2px solid #42CA98;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
}
#cal_plugin .weekend {
    background: #DCF2E9;
    color: #003722;
}
#cal_plugin .cal-header th {
    background: #e4e4e4;
    text-align: center;
}
#cal_switcher {
    content: " ";
    display: block;
    text-align: center;
}
#cal_switcher>* {
    float: left;
    display: block;
}
#cal_switcher:after {
    clear: both;
    content: " ";
}
#cal_switcher a {
    width: 10%;
}
#cal_switcher .fa-angle-left {
    font-size: 20px;
    line-height: 20px;
}
#cal_switcher span {
    display: inline-block;
    font-size: 12px;
    line-height: 12px;
    margin: 0 5px;
    padding: 5px;
    border-radius: 3px;
}
#cal_switcher span:hover {
    background: #ddd;
}
#cal_switcher span.selected {
    background: #ddd;
}
#cal_switcher #cal_yearmonth {
    width: 80%;
}
#cal_yearmonth b {
    font-weight: normal;
    padding-right: 0.5em;
}
#cal_switcher .fa-angle-right {
    font-size: 20px;
    line-height: 20px;
}
.clearfix{overflow:hidden; zoom:1;}